<h2>Productos</h2>
<!-- <ul class="productos"> -->
<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Priece</th>
        <th>Contador</th>
        <th>Precio Total </th>
    </tr>
    <tr *ngFor="let producto of productos">
        <button (click)="addCarrito(producto)">+</button>
        <!-- <li *ngFor="let producto of productos"> -->
        <td>
            <span class="badge">{{producto.id}}</span>

        </td>
        <td>
            {{producto.name}}
        </td>

        <td>
            {{producto.priece}}$
        </td>

        <td>
            {{producto.counter}}
        </td>

        <td>
            {{producto.precioTotal}}
        </td>


        <button (click)="removeCarrito(producto)">-</button>
</tr>
</table>

<div *ngFor="let producto of productos">
    <h3>Precio Final {{producto.name}} = </h3> <p>{{producto.precioTotal }}</p>
</div>
<button (click)="calcularPrecioFinal()">Precio Final = </button> 
<h1>
   total de todo es: {{PrecioResultadoFinal}}
</h1>



<div *ngIf="carritoProductos.length > 0">
    <h3>Productos en el carrito</h3>
  <ul>
    <li *ngFor="let productoCarrito of carritoProductos">
      {{productoCarrito.name}} - <strong>£ {{productoCarrito.price}}</strong> - Cantidad: <strong>{{productoCarrito.quantity}}</strong>  Precio total: <strong>{{productoCarrito.totalPrecio}}</strong>
    </li>
  </ul>
  <h3>Precio total: </h3> 
  <strong>£ {{totalPriceProductos}}</strong>
</div>
<div *ngIf="carritoProductos.length == 0">
  <h3>El carrito esta vacio</h3>
</div>


<!-- <button onclick="[routerLink]=['/CarritoComponent']" >Ir al Carrito</button> -->
<!-- </ul> -->

<!-- "toggleCarrito(producto);$event.stopPropagation()" -->